<!-- / Cabecera -->
<nav class="navbar navbar-dark bg-dark justify-content-between">
 <a class="navbar-brand "><strong>&nbsp;&nbsp;&nbsp;&nbsp; SUMYPORT </strong></a>
  <form class="form-inline">
    <!-- Boton buscar -->
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
 
<!-- / Formulario -->

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink = "/crear-producto">AGREGAR</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-4">
                        <thead>

                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Peso(kg)</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Placa del vehiculo</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col"></th>
                          </tr>

                        </thead>
                        <tbody>

                          <tr *ngFor="let producto of listProductos">

                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.peso }}</td>
                            <td>{{ producto.proveedor }}</td>
                            <td>{{ producto.unidades }}</td>
                            <td>{{ producto.placa_vehiculo}}</td>
                            <td>{{ producto.observaciones }}</td>

                              <td>
                                <i [routerLink]="['/editar-producto', producto._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                <i (click)="eliminarProductos( producto._id )"  class="fa-solid fa-trash-can text-danger"></i>
                              </td>
                          </tr>                          
                        </tbody>
                      </table> 
                      <h5 *ngIf="listProductos.length == 0" style="text-align:center; margin: top 10px;" > Aun no tenemos productos en nuestra base de datos, intenta usar el boton AGREGAR   
                      <strong><p>=͟͟͞͞ (ง °᎑°)ว</p></strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Pie de pagina -->    
<div class="container-fluid mt-5 text-primary p-3 " id="footer">
  <footer>
    <strong><p>&copy; Derechos Reservados</p></strong>
    
     <div> <a href="https://www.instagram.com/krostedits/">Acerca de KrostEdits</a></div>

     <div> <a href="https://www.facebook.com/eduardo.mogollon.salcedo">facebook</a></div>

     <div> <a href="/conectar">Aplicacion web desarrollada por Eduardo De Jesús Mogollón Salcedo</a></div>

     <div> <strong><a href="/#">Volver Arriba</a></strong></div>
    
  </footer>
</div>    
