<nav class="navbar navbar-expand-lg navbar-light bg-light navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#"><strong>&nbsp;&nbsp;&nbsp;&nbsp;SumyPort</strong></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/filtrar-producto">Filtrar datos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Salida de inventario Proximamente... &nbsp;&nbsp;&nbsp;</a>
      </li>
    </ul>
  </div>
</nav>
<!-- / Formulario -->

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">LISTADO DE PRODUCTOS</span>
                    <button class="btn btn-success float-end" routerLink = "/crear-producto">AGREGAR</button>
                    <table *ngIf="listProductos.length > 0" class="table table-striped mt-4">
                        <thead>

                          <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Peso(kg)</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Unidades</th>
                            <th scope="col">Placa del vehiculo</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col"></th>
                          </tr>

                        </thead>
                        <tbody>

                          <tr *ngFor="let producto of listProductos">

                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.peso }}</td>
                            <td>{{ producto.proveedor }}</td>
                            <td>{{ producto.unidades }}</td>
                            <td>{{ producto.placa_vehiculo}}</td>
                            <td>{{ producto.observaciones }}</td>

                              <td>
                                <i [routerLink]="['/editar-producto', producto._id]" class="fa-solid fa-pen-to-square text-primary"></i>
                                <i routerLink = "/" (click)="eliminarProductos( producto._id )"  class="fa-solid fa-trash-can text-danger"></i>
                              </td>
                          </tr>                          
                        </tbody>
                      </table> 
                      <h5 id="textocuandonohaynada" *ngIf="listProductos.length == 0"  > Aun no tenemos productos en nuestra base de datos, intenta usar el boton AGREGAR   
                      <strong><p>=͟͟͞͞ (ง °᎑°)ว</p></strong></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Pie de pagina -->    
<div></div>
  <footer>
    <p>&copy; Derechos Reservados</p>
    
     <div> <a href="https://www.instagram.com/krostedits/">Acerca de KrostEdits</a></div>

     <div> <a href="https://www.facebook.com/eduardo.mogollon.salcedo">facebook</a></div>

     <div> <a href="/conectar">Aplicacion web desarrollada por Eduardo De Jesús Mogollón Salcedo</a></div>

     <div> <strong><a href="/#">Volver Arriba</a></strong></div>
    
  </footer>
   
